.tracker-page h3 {
    display: flex;
}

.login-input {
    display: flex;
    gap: 15px;
    margin: 30px 0;
}

.login-input input {
    background-color: black;
    color: white;
    padding: 12px 5px;
    font-size: 1.2rem;
    width: 350px;
    border-radius: 12px;
    border: black;
    
}

.login-input input::placeholder {
    color: gray;
    font-size: 1.1rem;
}

.tracker-page {
    position: absolute;
    align-self: flex-start;
    left: 80px;
    border-radius: 5px;
    padding: 8px 15px;
    cursor: pointer;
    top: 100px;
    right: 140px;


}

.hp-con-back {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 50px;
    width: 100%;
    max-width: 800px;
    text-align: left;
}

.recharts-box {
    background: rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    padding: 10px;

}

@media (max-width: 768px) {
    .tracker-page {
        flex-direction: column;
        padding: 20px;
    }
}

.log-entry {
    right: -50px;
}

